@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
$brand-color:#ff0713;
$bg-color:#0f0f0f;
$font-color:#f1f1f1;
$font-fmaily-heading:'Open Sans', sans-serif;
$font-fmaily-text:'Baloo 2', cursive;