@import "_var";
@import "_mixin";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:$font-fmaily-heading;
}
@media (min-width:1400px) {
.bg-img{
    place-items: center;
    background-position: top;
    background-image: linear-gradient(178deg , #00000063, #605c5c05)!important;
    background-blend-mode: multiply;
    filter: brightness(0.8);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 0;
}
/*
-----------------------------|
| Navbar  section component  |
-----------------------------|
*/
.navbar{
 margin-top: -20px;
 z-index: 1;
width: 70%;
display: block;
margin: auto;
}
.bg-dark {
    background-color: #343a4000!important;
}
.navbar-brand > img{   
    height: 120px;
}
.nav-container, .Nav-links{
    margin-left:3rem;
}
.Search-btn{
   
    color: #f1f1f1 !important;
    border-color: #ff0713 !important;
    border: none;
    transition: 0.5s;
    background-color: #ff0713 !important;
    outline: none;
    border: none;
}
.search-icon{
    position: relative;
    transition: 0.5s;
    transform: scale(1.5, 1.5);
    margin-right: 10px;
    fill: antiquewhite;
  &:hover{
    transform:scale(1.9,1.9);
    .form-nav{
    background-color: #000000a6;
    } 
  }
}

.form-nav {
    background-color: #000000a6;
    width: 30rem;
    border: none;
    outline: none;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    &:hover{
    background-color: $bg-color;
    color:$font-color;
    }
    &::placeholder{
    color: $font-color!important;
    }
}
.create-account {
   @include btn;
   & >.icon{
       @include icon;
   }
}

.login{
    @include btn-transparent;
    &:hover{
    background-color: $brand-color!important;
    }
}
.navbar-dark .navbar-nav .nav-link {
     color:$font-color!important;
}
/*
-----------------------------|
| Heading section component  |
-----------------------------|
*/ 
.mid-section{
    position: relative;
    max-width: fit-content;
    display: block;
    margin: auto;
    & >.Heading-h1{
        margin-top: 80px;
        font-size: 3rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: $brand-color;
    } 
    & >.Heading-h2{
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: $font-color;
    }
    & > .button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & > button{
            @include btn;
            letter-spacing: 0.5px;
            padding: 10px 30px;
        }
     }
    }
/*
-----------------------------|
| CardSection component  |
-----------------------------|
*/
.card-section{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    & >.CARD{
    z-index: 2;
/*
-----------------------------|
| Card component      |
-----------------------------|
*/
    & >.card{
        border: 3px solid $brand-color;
        border-radius: 10px;
        width: 280px;
        height: 350px; 
         & > .card-img-top{
            margin: 0px;
            height: 100%;
            position: absolute;
            border-radius: 10px;
            mix-blend-mode: darken;
            filter: brightness(0.8);
           }
        &>.card-body{
        background-image: linear-gradient(360deg, #000000d9, transparent);
        border-radius: 5px;
        margin-top: 200px
        }
        & >.card-body >.card-text{
            z-index:3;
            position: relative;
        }
        &>.card-body >.card-text > p{
            color: $font-color;
            font-size: 1.5rem;
            font-weight: 600;
            font-family: $font-fmaily-heading !important;
         }
        }   
    }
 }
/*
-----------------------------|
| Footer component  |
-----------------------------|
*/
.footer{
    z-index: 2;
    position: fixed;
    bottom: 10px;
    font-size: 1.1rem;
    &>.pagefooter>.list {
        list-style: none;
        max-height: fit-content;
        padding: 2px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &>a{
            color: $font-color;
            margin-top: 10px;
            margin-left: 30px;
        }
    }
}
/*
-----------------------------|
| Form component  |
-----------------------------|
*/
.LoginSignIn{
    position:relative!important;
    z-index:3;
    width: 40%;
    background-color: #000000e3;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > main > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
.MuiInputBase-input,.MuiInputLabel-root,.AccountCircle,.LockOpenIcon{
color:$font-color!important;
}
.MuiInputLabel-shrink{
 color:$brand-color!important;  
}
.MuiInput-underline::before{
 color:$font-color!important;   
 border-bottom: 2px solid $font-color!important;
}
.MuiInput-underline::after{
 color:$brand-color!important;   
 border-bottom: 2px solid $brand-color!important;
}
.btn-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.directSignIn{
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 5px;
    background-color: $font-color;
    transition: 0.5s;
}
.directSignIn:hover{
    background-color:transparent;
    border-radius: 50%;
    transform: scale(1.2,1.2);
}

.loginHeading{
    color: $font-color!important;
    &>.signup{
    color:$brand-color;
    text-decoration: none;
    margin-left: 5px;
    transition: ease-in 0.2s;
    }
    &>.signup:hover{
    border-bottom:2px solid $brand-color;
    padding: 5px;
    margin-left: 5px;
    color: $font-color;
    }
}
/*
-----------------------------|
| Main component             |
-----------------------------|
*/


}

